nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul li{
    margin: 10px;
   
}
.navItem{
    color: salmon;
}


@media (max-width: 768px){
  .nav  ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
       
    }

    .nav ul li{
        width: 90%;
        border: 1px solid salmon;
        padding: 10px;
        border-radius: 6px ;
    }
}